<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/> -->
    <!-- &lt;!&ndash; Bluetooth permissions &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_SCAN" /> -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/> -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH" /> -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" -->
    <!-- android:maxSdkVersion="30" /> -->
    <!-- &lt;!&ndash; Location permissions for Bluetooth discovery &ndash;&gt; -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MasterProjet1"
        tools:targetApi="31" >

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.MasterProjet1">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MasterProjet1" >
        </activity>
        <activity
            android:name=".ScanActivity_LEDs"
            android:exported="false"
            android:label="@string/title_activity_scan_leds"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".DeviceActivity_LEDs"
            android:exported="false"
            android:label="@string/title_activity_device_leds"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".NewCourse"
            android:exported="false"
            android:label="@string/title_activity_new_course"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".Historique"
            android:exported="false"
            android:label="@string/title_activity_historique"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".AnkleBraceletParametrization"
            android:exported="false"
            android:label="@string/title_activity_ankle_bracelet_parametrization"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".ContactForm"
            android:exported="false"
            android:label="@string/title_activity_contact_form"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".CreatorsActivity"
            android:exported="false"
            android:label="@string/title_activity_creators"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".HelpActivity"
            android:exported="false"
            android:label="@string/title_activity_help"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".LEDsParamActivity"
            android:exported="false"
            android:label="@string/title_activity_leds_param"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".ModifyProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_modify_profile"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".ActivityMenu"
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".DeviceActivity"
            android:exported="false"
            android:label="@string/title_activity_device"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".ScanActivity"
            android:exported="false"
            android:label="@string/title_activity_scan"
            android:theme="@style/Theme.MasterProjet1" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.MasterProjet1" />

        <service android:name=".DeviceConnectionService" />
    </application>

</manifest>